<html lang="deu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="files/icon.png">

    <script src="https://kit.fontawesome.com/948add3e8f.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
    <link rel="stylesheet", type="text/css" href="css/main.css">

    
</head>

<header>
    
<h4 style="color: #7289DA; cursor: default;">Eat, Sleep, Nintendo, Repeat</h4>


</header>


<body>
    {{{body}}}
</body>
</html>

<script>



</script>