<html lang="deu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://kit.fontawesome.com/948add3e8f.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:600&display=swap" rel="stylesheet">
    <link rel="stylesheet", type="text/css" href="css/main.css">

    
</head>

<header>
    
<h4 style="color: #7289DA; cursor: default;">Eat, Sleep, Shop</h4>

<nav>
<ul class="nav-links">

<li><a href="/">Home</a></li>
<li><a href="/a">Anderes</a></li>
{{#if user}}
<li><a href="#">Account</a></li>
{{/if}}

</ul>
</nav>

{{#if DisordOAuth2}}
<a class="cta" id="discord-button" onclick="loading()" href="./login"><button>Login with Discord</button></a>    
  {{/if}}

  {{#if user}}
  
<a class="cta" id="discord-button"><button>{{user.username}}<br>Rank: {{user.rank}}</button></a>    

  

  {{/if}}


</header>


<body>
    {{{body}}}
</body>
</html>

<script>



</script>