*{
    font-family: 'Montserrat', sans-serif;
    background-color: #23272A;
}

body {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    color: white;
  }

  header {

    margin-left: -20px;
    margin-right: -20px;
    margin-top: -10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li, a, button {
      font-weight: 500;
      font-size: 16px;
      color: #edf0f1;
      text-decoration: none;
  }

  .nav-links {
      list-style: none;
  }

  .nav-links li {
display: inline-block;
padding: 0px 20px;
  }

  .nav-links li a{
   transition: all 0.3s ease 0s;
      }

      .nav-links li a:hover{
        color: #7289DA;
           }

button {
    padding: 9px 25px;
    background-color: #7289DA;
    border: none;
    border-radius: 50px;
    cursor: default;
   transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #2C2F33;
    color: #7289DA;
}

.block {
    background-color: #99AAB5;
    border: none;
    border-radius: 20px;
    padding: 5px;
    
}