@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to right, #10f819 0%, #00f0ff 100%);
    
}

.rankcard {
    display:flex;align-items:center;
}

.infos {
    margin-left: 60px;
}

.rank {
    margin-top: 10px;
}

.profilepic {
    width: 200px;
display: block;
margin-top: 25px;
margin-left: 20px;
}