/* lg */ 
@media (max-width: 1900px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	.newstextarea{
		margin-left:0px;
		padding: 20px;
		margin-top: 0px;
	}

}

/* xs */
@media screen and (max-width: 768px) {
	.newstextarea{
		margin-left:0px;
		padding: 20px;
		margin-top: 0px;
	}

}


/* XS Portrait */
@media (max-width: 479px) {
	.newstextarea{
		margin-left:0px;
		padding: 20px;
		margin-top: 0px;
	}
	
}

