<!DOCTYPE html>
<html>
  <head>
    <title>404 Seite nicht gefunden</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand text-danger" href="#">Eat, Sleep, Nintendo, Repeat, Store 404 Page</a>
    </nav>
  </header>

  <body style="background-image: url(https://www.laughalaughi.com/wp-content/uploads/2015/12/Dark-Forest-35836-240944.jpeg)">
    <style>
    </style>
    <h1 id="kill" class="text-danger">Seite nicht gefunden</h1>
    <p id="first" class="text-info">Oder wolltest du woanders hin?</p>
   
  
  
    <script>
     
       
   </script>
  </body>
</html>
