<div class="block" >
    <h3 style="background-color: #99AAB5;">Upload und Download Service</h3>
    <p style="background-color: #99AAB5; border-radius: 20px;">Ihr kennt das. Ihr wollt auf Discord ein Video oder eine größere Datei verschicken. Habt allerdings kein Nitro und der Upload wird euch verweigert. Mit dieser Seite könnt ihr Dateien Hochladen und per Download-Link wieder herunterladen</p>
    <a style="background-color: #99AAB5; border-radius: 20px;" class="cta" id="discord-button" href="/upload"><button>Check it out</button></a>    

</div>
