<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Ein Fehler ist aufgetreten</h4>
  <p>{{error}}</p>
  <hr>
  <p class="mb-0">Sollte dies mehrmals passieren, Kontaktiere bitte Dustin</p>
</div>