<div class="block" >
    <h3 style="background-color: #99AAB5;">Level Shop</h3>
    <p style="background-color: #99AAB5; border-radius: 20px;">Nach langem warten ist er nun fertig. Der Eat, Sleep, Nintendo, Repeat Level Shop. In diesem Shop könnt ihr eure gesammelten Level für coole Erweiterungen für unseren Discord Server ausgeben</p>
    <a style="background-color: #99AAB5; border-radius: 20px;" class="cta" id="discord-button" href="/shop"><button>Start Shopping</button></a>    

</div>
