<html lang="de">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>π”Όπ•’π•¥, π‚π•πππ™, π—΅π—¶π—»ππ—²π—»π—±π—Ό, π“΅π“®π“Ήπ“®π“π“½</title>
	
		<!-- SRC -->
	<script src="https://kit.fontawesome.com/948add3e8f.js" crossorigin="anonymous"></script>
	<link href="css/style.css" rel="stylesheet">
    <!-- <link href="css/responsive.css" rel="stylesheet"> -->

    <link rel="icon" type="image/png" href="images/icon.png" sizes="96x96">
    

   
	
	</head>

<body>
    <%- body %>
</body>

</html>
