<!DOCTYPE html>
<html>
  <head>
    <title>Discord API Fehler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Eat, Sleep, Nintendo, Repeat, Store</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </header>

  <body>
    <h1 class="text-danger"><%= ü %></h1>
    <p class="text-danger"><%= t %></p>
    <script>
      setTimeout(function(){
         window.location.href = "https://discordapp.com/api/oauth2/authorize?client_id=585521607875756042&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin&response_type=code&scope=email%20identify%20guilds";
      }, 15000);
   </script>
  </body>
</html>
