<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="headcontent">
                <div class="contenticon">
                </div>
                <div class="contentname">
                    Member Ranklist Top 10
                </div>
            </div>
            
        </div>

        <div class="col-lg-4">
            <div class="headcontent">
                <div class="contenticon">
                </div>
                <div class="contentname">
                </div>
            </div>
        </div>
    </div>
</div>