<link href="/css/rankcard.css" rel="stylesheet">

<body><div class="rankcard">

    <img class="profilepic" src="<%= member.info.pic %>  " alt="Member Profile Picture" style="border-radius: 50%;">

    <div class="infos">
    <h2 class="es">Eat, Sleep Rankcard</h2>
    <h1 class="tag"><%= member.info.tag %> </h1>
    <h2 class="rank">Level: <%= member.ranks.rank %></h3>
    <h2 class="xp">XP: <%= member.ranks.xp %>/60 </h3>
    </div>
</div></body>