
{{#if user}}














{{else}}
<h3 style="color: red;"><i class="fas fa-exclamation"></i> Du musst mit Discord eingeloggt sein um diese Seite benutzen zu können <i class="fas fa-exclamation"></i></h3>

{{/if}}



