<h1>
    Lade eine Datei hoch
</h1>
<p>Es gibt einpaar Regeln. Daten werden nicht für immer auf dem Server gespeichert. Irgendwann werden sie aus Platz gründen gelöscht.</p>
<p>Bitte Ladet keine extrem großen Daten hoch. Auf dem Server laufen auch noch andere Prozesse und Discord Bots.</p>
<p>Alle Dateien werden nach 48 Stunden automatisch von Server gelöscht</p>
<form method="POST" enctype="multipart/form-data" action="/upload">
<input onclick="showmore()" type="file" name="filename">
<br>
<br>
<input onclick="showupload()" style="display: none" id="submit-button" class="btn btn-success" type="submit" value="Hochladen">
</form>

<script>
function showmore() {
  document.getElementById("submit-button").style.display = "block";
}

function showupload() {
  document.getElementById("submit-button").style.color = "#2c3e50";
  document.getElementById("submit-button").style.backgroundColor = "#f1c40f";
  document.getElementById("submit-button").value = "Lade Datei hoch... Bitte warten";
}

</script>